{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article of {{ parent.label }}</h1>

    {% embed '@MazariniPaginator/list.html.twig' with {'pages': pages, 'entities': entities, 'data': 3, 'action': 0} only %}

        {% block title %}
            <th>Id</th>
            <th>Label</th>
        {% endblock %}

        {% block data %}
            <td>{{ entity.id }}</td>
            <td>{{ entity.label }}</td>
        {% endblock %}

    {% endembed %}

    {% embed '@MazariniPaginator/pages.html.twig' with {'pages': pages, 'parent': parent} only %}
        {% block href %}{{ path('app_article_page', {'id': parent.id, 'page': page.number}) }}{% endblock %}
    {% endembed %}

{% endblock %}
